    <form mat-dialog-content [formGroup]="this.PasswordForm">
      <h4 class="font-weight-lighter">Generar nueva contraseña</h4>
      <mat-divider></mat-divider>
      <mat-form-field class="full-width mt-2">
        <mat-label>Ingrese una contraseña</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="this.PasswordForm.controls.password.errors?.required">Este campo es obligatorio</mat-error>
        <mat-error *ngIf="!this.PasswordForm.controls.password.errors?.required && this.PasswordForm.controls.password.errors?.minlength">La contraseña debe tener al menos 10 caracteres.</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width mt-2">
        <mat-label>Repita la contraseña</mat-label>
        <input matInput type="password" formControlName="repassword">
        <mat-error *ngIf="this.PasswordForm.controls.repassword.errors?.required">Este campo es obligatorio</mat-error>
        <mat-error *ngIf="!this.PasswordForm.controls.repassword.errors?.required && this.PasswordForm.controls.repassword.errors?.notMatch">Las contraseñas no coinciden.</mat-error>
      </mat-form-field>
    </form>
    <div mat-dialog-actions class="flex">
      <div class="fill-remaining-space"></div>
      <button mat-button (click)="onNoClick('')">CANCELAR</button>
      <button mat-raised-button color="primary" [disabled]="this.PasswordForm.invalid" [mat-dialog-close]="this.PasswordForm.value" cdkFocusInitial>GUARDAR</button>
    </div>