<app-sub-toolbar
    title="Nombre del Indicador"
    [backButton]="true"
    [buttons]="this.buttons"> 
</app-sub-toolbar>

<div class="page-content">
    <mat-card>
        <mat-card-title class="font-weight-lighter">Información General</mat-card-title>
        <mat-divider></mat-divider>
        <div class="row pt-2">
            <div class="col-sm-6">
                <small class="full-width label font-weight-lighter">Nombre del Indicador</small>
                <div class="full-width">Nombre del Indicador</div>
            </div>
            <div class="col-sm-6">
                <small class="full-width label font-weight-lighter">Tipo de Indicador</small>
                <div class="full-width">Tipo de Indicador</div>
            </div>
        </div>
    </mat-card>
    <mat-card class="mt-4">
        <mat-card-title class="font-weight-lighter">Esquema</mat-card-title>
        <mat-divider></mat-divider>
        <div class="row pt-2">
            <div class="col-sm-6">
                <small class="full-width label font-weight-lighter">Nombre del Indicador</small>
                <div class="full-width">Nombre del Indicador</div>
            </div>
            <div class="col-sm-6">
                <small class="full-width label font-weight-lighter">Tipo de Indicador</small>
                <div class="full-width">Tipo de Indicador</div>
            </div>
        </div>
    </mat-card>
    <mat-card class="mt-4">
        <div class="text-center font-weight-lighter p-4">No se han añadido registros en este indicador.</div>
    </mat-card>
</div>