<app-sub-toolbar *ngIf="this.userRole == 'Administrador'"
    [title]="this.Organization.name"
    [backButton]="true"
    [addButton]="false"
    [buttons]="this.buttons"
    [importantBack]="this.editMode"
    [editButton]="!this.editMode" (editClick)="this.edit()">
</app-sub-toolbar>

<app-sub-toolbar *ngIf="this.userRole == 'Coordinador'"
    [title]="this.Organization.name"
    [backButton]="true"
    [addButton]="false"
    [buttons]="[this.buttons[0]]"
    [importantBack]="this.editMode"
    [editButton]="!this.editMode" (editClick)="this.edit()">
</app-sub-toolbar>

<app-sub-toolbar *ngIf="this.userRole != 'Administrador' && this.userRole != 'Coordinador'"
    [title]="this.Organization.name"
    [backButton]="true"
    [addButton]="false"
    [buttons]="[this.buttons[0]]">
</app-sub-toolbar>

    <div>
        <mat-tab-group mat-stretch-tabs class="full-height"> 
            <mat-tab label="Infomación General">
                <div class="container pb-3 pt-3 border-box">
                    <form [formGroup]="this.organizationForm" (ngSubmit)="this.updateOrganization()" *ngIf="this.editMode; else Visor">
                        <mat-card>
                            <mat-card-title class="font-weight-lighter">Datos Generales</mat-card-title>
                            <div class="row">
                                <div class="col-sm-4">
                                    <mat-form-field class="full-width">
                                        <input matInput type="text" formControlName="name" placeholder="Nombre de la Organización">
                                        <mat-error *ngIf="this.nameCtrl.errors?.required">Este campo es obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Fecha de Constitución</mat-label>
                                        <input matInput [matDatepicker]="picker" (dateInput)="setOlder($event)" (dateChange)="setOlder($event)" formControlName="foundation_date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-hint>Formato: dd/mm/aaaa</mat-hint>
                                        <mat-error *ngIf="this.foundation_dateCtrl.errors?.required">Este campo es obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Sector:</mat-label>
                                        <mat-select formControlName="sector">
                                        <mat-option value="Cacao">
                                            Cacao
                                        </mat-option>
                                        <mat-option value="Agricultura">
                                            Agricultura
                                        </mat-option>
                                        <mat-option value="Turismo">
                                            Turismo
                                        </mat-option>
                                        <button mat-button><mat-icon>add</mat-icon> Añadir nuevo...</button>
                                        </mat-select>
                                    </mat-form-field>    
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Tipo de Organización:</mat-label>
                                        <mat-select formControlName="type">
                                            <mat-option value="SFL">
                                                SFL
                                            </mat-option>
                                            <mat-option value="Empresa">
                                                Empresa
                                            </mat-option>
                                            <mat-option value="Asociación">
                                                Asociación
                                            </mat-option>
                                            <button mat-button><mat-icon>add</mat-icon> Añadir nuevo...</button>
                                        </mat-select>
                                        <mat-error>Este campo es obligatorio</mat-error>
                                    </mat-form-field>    
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Legalizada:</mat-label>
                                        <mat-select formControlName="legalized">
                                            <mat-option value="Si">
                                                Sí
                                            </mat-option>
                                            <mat-option value="No">
                                                No
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Este campo es obligatorio</mat-error>
                                    </mat-form-field>    
                                </div>
                                <div class="col-sm-4" *ngIf="typeCtrl.value == 'SFL'">
                                    <div class="full-width">
                                        <small class="full-width label">Esta SFL clasifica como:</small>
                                        <div *ngIf="this.isOlder" class="text-center">Antigua</div>
                                        <div *ngIf="!this.isOlder" class="text-center">Nueva</div>
                                    </div>    
                                </div>
                            </div>
                        </mat-card>
                        <!--Parte de Localización-->
                        <mat-card class="mt-4">
                            <mat-card-title class="font-weight-lighter">Localidad</mat-card-title>
                            <div class="row" formGroupName="ubication">
                                <div class="col-sm-4">
                                    <mat-form-field class="full-width">
                                        <input matInput type="text" formControlName="canton" placeholder="Cantón">
                                        <mat-error>Este campo es obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field class="full-width">
                                        <input matInput type="text" formControlName="parroquia" placeholder="Parroquia">
                                        <mat-error>Este campo es obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field class="full-width">
                                        <input matInput type="text" formControlName="recinto" placeholder="Recinto">
                                        <mat-error>Este campo es obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card>
                        <!--Parte de Beneficiarios-->
                        <mat-card class="mt-4">
                            <mat-card-title class="font-weight-lighter">Socios y Beneficiarios</mat-card-title>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="row" *ngIf="!this.Organization.historyPartners.length; else hasHistory">
                                        <div class="col-sm-6">
                                            <div class="full-width">
                                                <small class="label font-weight-lighter full-width">Socios Hombres</small>
                                                <div>{{this.Organization.partners.mens}}</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="full-width">
                                                <small class="label font-weight-lighter full-width">Socios Mujeres</small>
                                                <div>{{this.Organization.partners.womens}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #hasHistory>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="full-width">
                                                    <small class="label font-weight-lighter full-width">Socios Hombres</small>
                                                    <div>{{this.Organization.historyPartners[this.Organization.historyPartners.length - 1].mens}}</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="full-width">
                                                    <small class="label font-weight-lighter full-width">Socios Mujeres</small>
                                                    <div>{{this.Organization.historyPartners[this.Organization.historyPartners.length - 1].womens}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field class="full-width">
                                        <input matInput type="text" formControlName="beneficiaries" placeholder="Beneficiarios">
                                        <mat-hint>Ingrese un número, por favor.</mat-hint>
                                        <mat-error *ngIf="this.organizationForm.controls['beneficiaries'].errors?.required">Este campo es obligatorio</mat-error>
                                        <mat-error *ngIf="this.organizationForm.controls['beneficiaries'].errors?.pattern">Debe ingresar una cantidad numérica</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card>
                        
                        <app-button-group class="mt-3" *ngIf="this.editMode" [formStatus]="this.organizationForm.pristine" (save)="updateOrganization()" (cancel)="onCancel()" [formGroup]="this.organizationForm"></app-button-group>
                        
                    </form>     
                    <!--Visor de Información-->
                    <ng-template #Visor>
                        <div>
                            <mat-card>
                                <mat-card-title class="font-weight-lighter">Datos Generales</mat-card-title>
                                <mat-divider></mat-divider>
                                <div class="row pt-2">
                                    <div class="col-sm-4">
                                        <div class="full-width">
                                            <small class="label font-weight-lighter full-width">Nombre de la Organización</small>
                                            <div>{{this.Organization.name}}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="full-width">
                                            <small class="label font-weight-lighter full-width">Fecha de Constitución</small>
                                            <div>{{this.Organization.foundation_date | date : 'd/M/yyyy'}}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="full-width">
                                            <small class="label font-weight-lighter full-width">Sector:</small>
                                            <div>{{this.Organization.sector}}</div>
                                        </div>    
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-4">
                                        <div class="full-width">
                                            <small class="label font-weight-lighter full-width">Tipo de Organización:</small>
                                            <div>{{this.Organization.type}}</div>
                                        </div>    
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="full-width">
                                            <small class="label font-weight-lighter full-width">Legalizada:</small>
                                            <div>{{this.Organization.legalized}}</div>
                                        </div>    
                                    </div>
                                    <div class="col-sm-4" *ngIf="this.Organization.type == 'SFL'">
                                        <div class="full-width">
                                            <small class="full-width label">Esta SFL clasifica como:</small>
                                            <div *ngIf="this.Organization.isOlder" class="text-center">Antigua</div>
                                            <div *ngIf="!this.Organization.isOlder" class="text-center">Nueva</div>
                                        </div>    
                                    </div>
                                </div>
                            </mat-card>
                            <!--Parte de Localización-->
                            <mat-card class="mt-4">
                                <mat-card-title class="font-weight-lighter">Localidad</mat-card-title>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="full-width">
                                            <small class="label font-weight-lighter full-width">Cantón</small>
                                            <div>{{this.Organization.ubication.canton}}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="full-width">
                                            <small class="label font-weight-lighter full-width">Parroquia</small>
                                            <div>{{this.Organization.ubication.parroquia}}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="full-width">
                                            <small class="label font-weight-lighter full-width">Recinto</small>
                                            <div>{{this.Organization.ubication.recinto}}</div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                            <!--Parte de Beneficiarios-->
                            <mat-card class="mt-4">
                                <mat-card-title class="font-weight-lighter">Socios y Beneficiarios</mat-card-title>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row" *ngIf="!this.Organization.historyPartners.length; else hasHistory">
                                            <div class="col-sm-6">
                                                <div class="full-width">
                                                    <small class="label font-weight-lighter full-width">Socios Hombres</small>
                                                    <div>{{this.Organization.partners.mens}}</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="full-width">
                                                    <small class="label font-weight-lighter full-width">Socios Mujeres</small>
                                                    <div>{{this.Organization.partners.womens}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-template #hasHistory>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="full-width">
                                                        <small class="label font-weight-lighter full-width">Socios Hombres</small>
                                                        <div>{{this.Organization.historyPartners[this.Organization.historyPartners.length - 1].mens}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="full-width">
                                                        <small class="label font-weight-lighter full-width">Socios Mujeres</small>
                                                        <div>{{this.Organization.historyPartners[this.Organization.historyPartners.length - 1].womens}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="full-width">
                                            <small class="label font-weight-lighter full-width">Beneficiarios</small>
                                            <div>{{this.Organization.beneficiaries}}</div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </ng-template>               
                </div>
            </mat-tab>
            <mat-tab label="Proyectos Asociados">
                <div class="container pb-3 pt-3 border-box">
                    
                        <!--Sección de los Proyectos-->
                        <div class="row" *ngIf="this.Organization.projects.length; else NoProjects">
                            <div class="col-sm-4 mb-4" *ngFor="let project of this.Organization.projects">
                                <mat-card>
                                    <mat-card-title class="font-weight-lighter">{{project.name}}</mat-card-title>
                                    <mat-divider></mat-divider>
                                    <mat-card-content>
                                        <mat-list>
                                            <li class="pt-2">
                                                <span>
                                                    Fecha de Inicio: <span class="font-weight-lighter">{{project.start_date}}</span>
                                                </span>
                                            </li>
                                            <li class="mt-2">
                                                <span>
                                                    Ubicación: <span class="font-weight-lighter">{{project.ubication}}</span>
                                                </span>
                                            </li>
                                            <li class="mt-2">
                                                <span>
                                                    Duración: <span class="font-weight-lighter">{{project.duration}} meses</span>
                                                </span>
                                            </li>
                                        </mat-list>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <div class="flex">
                                            <span class="fill-remaining-space"></span>
                                            <a mat-button [routerLink]="['/projects',project._id]">DETALLES</a>
                                        </div>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    
                        <ng-template #NoProjects>
                            <div class="full-height full-width flex justify-content-center align-items-center">
                                <div>
                                    <h2 class="text-center font-weight-lighter">No hay Proyectos registrados</h2>
                                    <div class="font-weight-lighter">
                                        Para agregar un nuevo proyecto dale click al boton "Agregar" de la esquina superior derecha.
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                </div>
            </mat-tab>
            <mat-tab label="Documentos">
                <div class="container pb-3 pt-3 border-box">
                    <app-upload-box [organization_files]="this.Organization.files" [organization_id]="this.Organization._id" [organization_name]="this.Organization.name"></app-upload-box>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <app-loading-view *ngIf="this.isWorking" [message]="this.loadingMessage"></app-loading-view>