<app-sub-toolbar
    title="Usuario: {{this.User.name}} {{this.User.last_names}}"
    [backButton]="true"
    [editButton]="!(this.isEditMode | async)">
</app-sub-toolbar>

<div class="page-content">
    <div *ngIf="(this.isEditMode | async); else UserView">
        <form [formGroup]="this.UserForm" (ngSubmit)="updateUser()">
            <mat-card>
                <mat-card-title class="font-weight-lighter">Información General</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="pt-3 row">
                        <div class="col-sm-4">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="name" placeholder="Nombres" type="text">
                                <mat-error *ngIf="this.UserForm.controls.name.errors?.required">Este campo es obligatorio</mat-error>
                                <mat-error *ngIf="!this.UserForm.controls.name.errors?.required && this.UserForm.controls.name.errors?.isBlank">Este campo no puede quedar en blanco.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="last_names" placeholder="Apellidos" type="text">
                                <mat-error *ngIf="this.UserForm.controls.last_names.errors?.required">Este campo es obligatorio</mat-error>
                                <mat-error *ngIf="!this.UserForm.controls.last_names.errors?.required && this.UserForm.controls.last_names.errors?.isBlank">Este campo no puede quedar en blanco.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="username" placeholder="Nombre de Usuario" type="text">
                                <mat-error *ngIf="this.UserForm.controls.username.errors?.required">Este campo es obligatorio</mat-error>
                                <mat-error *ngIf="!this.UserForm.controls.username.errors?.required && this.UserForm.controls.username.errors?.isBlank">Este campo no puede quedar en blanco.</mat-error>
                                <mat-error *ngIf="!this.UserForm.controls.username.errors?.required && this.UserForm.controls.username.errors?.exists">El nombre de usuario ingresado no está disponible.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="email" placeholder="Correo Electrónico" type="email">
                                <mat-error *ngIf="this.UserForm.controls.email.errors?.required">Este campo es obligatorio</mat-error>
                                <mat-error *ngIf="!this.UserForm.controls.email.errors?.required && this.UserForm.controls.email.errors?.isBlank">Este campo no puede quedar en blanco.</mat-error>
                                <mat-error *ngIf="!this.UserForm.controls.email.errors?.required && !this.UserForm.controls.email.errors?.isBlank && this.UserForm.controls.email.errors?.pattern">Ingrese una dirección de correo válida.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="position" placeholder="Puesto de Trabajo" type="text">
                                <mat-error *ngIf="this.UserForm.controls.position.errors?.required">Este campo es obligatorio</mat-error>
                                <mat-error *ngIf="!this.UserForm.controls.position.errors?.required && this.UserForm.controls.position.errors?.isBlank">Este campo no puede quedar en blanco.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field class="full-width">
                                <mat-label>Rol del Usuario</mat-label>
                                <mat-select formControlName="role">
                                    <mat-option value="Técnico">Técnico</mat-option>
                                    <mat-option value="Coordinador">Coordinador</mat-option>
                                    <mat-option value="Financiador">Financiador</mat-option>
                                    <mat-option value="Administrador">Administrador</mat-option>
                                </mat-select>
                                <mat-error *ngIf="this.UserForm.controls.role.errors?.required">Debe seleccionar un rol de usuario</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4" *ngIf="this.UserForm.controls.role.value == 'Financiador' ">
                            <mat-form-field class="full-width">
                                <mat-label>Representa a</mat-label>
                                <mat-select formControlName="funder">
                                    <mat-option *ngFor="let funder of this.Funders" [value]="funder._id">{{funder.name}} - {{funder.place}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="this.UserForm.controls.position.errors?.required">Este campo es obligatorio</mat-error>
                                <mat-error *ngIf="!this.UserForm.controls.position.errors?.required && this.UserForm.controls.position.errors?.isBlank">Este campo no puede quedar en blanco.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <app-button-group *ngIf="this.isEditMode | async" (cancel)="this.cancel()" (save)="this.updateUser()" [formStatus]="this.UserForm.invalid"></app-button-group>
        </form>
    </div>
    
    <ng-template #UserView>
        <div>
            <mat-card>
                <mat-card-title class="font-weight-lighter">Información General</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="pt-3 row">
                        <div class="col-sm-4">
                            <small class="label">Nombres</small>
                            <div>{{this.User.name}}</div>
                        </div>
                        <div class="col-sm-4">
                            <small class="label">Apellidos</small>
                            <div>{{this.User.last_names}}</div>
                        </div>
                        <div class="col-sm-4">
                            <small class="label">Nombre de Usuario</small>
                            <div>{{this.User.username}}</div>
                        </div>
                        <div class="col-sm-4">
                            <small class="label">Correo electrónico</small>
                            <div>{{this.User.email}}</div>
                        </div>
                        <div class="col-sm-4">
                            <small class="label">Puesto de Trabajo</small>
                            <div>{{this.User.position}}</div>
                        </div>
                        <div class="col-sm-4">
                            <small class="label">Rol del Usuario</small>
                            <div>{{this.User.role}}</div>
                        </div>
                        <div class="col-sm-4" *ngIf="this.User.role == 'Financiador' ">
                            <small class="label">Representa a</small>
                            {{this.User.funder}}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-template>
    
    <div class="mt-4 mb-4">
        <button mat-raised-button color="primary" type="button" (click)="this.generateNewPassword()">Generar Nueva Contraseña</button>
    </div>

</div>