<app-sub-toolbar
    title="Indicadores Institucionales"
    [addButton]="true">
</app-sub-toolbar>

<app-filter-box type="institutionals"></app-filter-box>

<div class="page-content with-filter-box">
    <div class="row">
        <div class="col-sm-4 mb-4">
            <mat-card>
                <mat-card-title class="font-weight-lighter">Indicador</mat-card-title>
                <mat-divider></mat-divider><mat-card-content>
                    <mat-list>
                        <li class="pt-2">
                            <span>
                                Tipo: <span class="font-weight-lighter">Tipo de indicador</span>
                            </span>
                        </li>
                    </mat-list>
                </mat-card-content>
                <div class="flex">
                    <span class="fill-remaining-space"></span>
                    <button mat-button routerLink="/main/institucionales/view">VER INDICADOR</button>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-4 mb-4">
            <mat-card>
                <mat-card-title class="font-weight-lighter">Indicador</mat-card-title>
                <mat-divider></mat-divider><mat-card-content>
                    <mat-list>
                        <li class="pt-2">
                            <span>
                                Tipo: <span class="font-weight-lighter">Tipo de indicador</span>
                            </span>
                        </li>
                    </mat-list>
                </mat-card-content>
                <div class="flex">
                    <span class="fill-remaining-space"></span>
                    <button mat-button routerLink="/main/institucionales/view">VER INDICADOR</button>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-4 mb-4">
            <mat-card>
                <mat-card-title class="font-weight-lighter">Indicador</mat-card-title>
                <mat-divider></mat-divider><mat-card-content>
                    <mat-list>
                        <li class="pt-2">
                            <span>
                                Tipo: <span class="font-weight-lighter">Tipo de indicador</span>
                            </span>
                        </li>
                    </mat-list>
                </mat-card-content>
                <div class="flex">
                    <span class="fill-remaining-space"></span>
                    <button mat-button routerLink="/main/institucionales/view">VER INDICADOR</button>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-4 mb-4">
            <mat-card>
                <mat-card-title class="font-weight-lighter">Indicador</mat-card-title>
                <mat-divider></mat-divider><mat-card-content>
                    <mat-list>
                        <li class="pt-2">
                            <span>
                                Tipo: <span class="font-weight-lighter">Tipo de indicador</span>
                            </span>
                        </li>
                    </mat-list>
                </mat-card-content>
                <div class="flex">
                    <span class="fill-remaining-space"></span>
                    <button mat-button routerLink="/main/institucionales/view">VER INDICADOR</button>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-4 mb-4">
            <mat-card>
                <mat-card-title class="font-weight-lighter">Indicador</mat-card-title>
                <mat-divider></mat-divider><mat-card-content>
                    <mat-list>
                        <li class="pt-2">
                            <span>
                                Tipo: <span class="font-weight-lighter">Tipo de indicador</span>
                            </span>
                        </li>
                    </mat-list>
                </mat-card-content>
                <div class="flex">
                    <span class="fill-remaining-space"></span>
                    <button mat-button routerLink="/main/institucionales/view">VER INDICADOR</button>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-4 mb-4">
            <mat-card>
                <mat-card-title class="font-weight-lighter">Indicador</mat-card-title>
                <mat-divider></mat-divider><mat-card-content>
                    <mat-list>
                        <li class="pt-2">
                            <span>
                                Tipo: <span class="font-weight-lighter">Tipo de indicador</span>
                            </span>
                        </li>
                    </mat-list>
                </mat-card-content>
                <div class="flex">
                    <span class="fill-remaining-space"></span>
                    <button mat-button routerLink="/main/institucionales/view">VER INDICADOR</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>