<div class="flex justify-content-center full-width full-height">
    <div class="align-self-center border border-radius">
        <div class="card p-4" id="login-box">
            <img src="../../../../assets/images/logo-sisi-only.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Inicio de Sesión</h5>
            </div>
            <form [formGroup]="this.LoginForm" (ngSubmit)="login()">
                <label class="sr-only" for="Username">Nombre de Usuario</label>
                <div class="mb-3 mr-sm-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text" [ngClass]="{'invalidate-input': this.LoginForm.controls['username'].touched && this.LoginForm.controls['username'].invalid}"><mat-icon>person</mat-icon></div>
                        </div>
                        <input type="text" class="form-control" [ngClass]="{'invalidate-input': this.LoginForm.controls['username'].touched && this.LoginForm.controls['username'].invalid}" formControlName="username" id="Username" placeholder="Nombre de Usuario">
                    </div>
                    <small class="validate-msg" *ngIf="this.LoginForm.controls['username'].touched && this.LoginForm.controls['username'].invalid">Este campo es obligatorio</small>
                </div>
                <label class="sr-only" for="Password">Contraseña</label>
                <div class="mb-4 mr-sm-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text" [ngClass]="{'invalidate-input': this.LoginForm.controls['password'].touched && this.LoginForm.controls['password'].invalid}"><mat-icon>lock</mat-icon></div>
                        </div>
                        <input type="password" class="form-control" [ngClass]="{'invalidate-input': this.LoginForm.controls['password'].touched && this.LoginForm.controls['password'].invalid}" formControlName="password" id="Password" placeholder="Contraseña">
                    </div>
                    <small class="validate-msg" *ngIf="this.LoginForm.controls['password'].touched && this.LoginForm.controls['password'].errors?.required">Este campo es obligatorio</small>
                    <small class="validate-msg" *ngIf="this.LoginForm.controls['password'].errors?.minlength">La contraseña debe tener al menos {{this.LoginForm.controls['password'].errors.minlength.requiredLength}} caracteres</small>
                </div>
                <div class="flex justify-content-center mt-4">
                    <div>
                        <button mat-button-raised class="d-block full-width btn btn-primary align-content-center" type="submit" [disabled]="this.LoginForm.invalid">INGRESAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>