<app-sub-toolbar *ngIf="this.isAdmin | async"
    [title]="this.Funder.name"
    [backButton]="true"
    [addButton]="false"
    [editButton]="!(this.editMode | async)"
    [deleteButton]="this.DeleteBtn">
</app-sub-toolbar>

<app-sub-toolbar *ngIf="!(this.isAdmin | async)"
    [title]="this.Funder.name"
    [backButton]="true"
    [addButton]="false">
</app-sub-toolbar>

<div class="page-content">
    <mat-card *ngIf="!(this.editMode | async); else EditForm">
        <mat-card-title class="font-weight-lighter">Datos Generales</mat-card-title>
        <mat-card-content>
            <div class="row mb-4">
                <div class="col-md-3">
                    <div class="full-width">
                        <small class="label full-width font-weight-lighter">Nombre</small>
                        <div>{{Funder.name}}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="full-width">
                        <small class="label full-width font-weight-lighter">Ubicación</small>
                        <div>{{Funder.place}}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="full-width">
                        <small class="label full-width font-weight-lighter">Sitio Web</small>
                        <div>
                            <a class="full-width" [href]="Funder.website" target="_blank">{{Funder.website}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="full-width">
                        <small class="label full-width font-weight-lighter">Inicio de Trabajo en Conjunto</small>
                        <div>{{Funder.coop_date}}</div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    
    <ng-template #EditForm>
        <mat-card>
            <mat-card-title class="font-weight-lighter">Datos Generales</mat-card-title>
            <mat-card-content>
                <form [formGroup]="this.FunderFormGroup" (ngSubmit)="save()">
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput type="text" formControlName="name" placeholder="Nombre del Financiador">
                                <mat-error>Este campo es obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput type="text" formControlName="place" placeholder="Ubicación">
                                <mat-error>Este campo es obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="full-width">
                                <input matInput type="text" formControlName="website" placeholder="Sitio Web">
                                <mat-error>Este campo es obligatorio</mat-error>
                            </mat-form-field>    
                        </div>
                        <div class="col-md-3">
                            <mat-form-field disabled class="full-width">
                                <input matInput type="text" formControlName="coop_date" placeholder="Fecha de Constitución">
                                <mat-error>Este campo es obligatorio</mat-error>
                            </mat-form-field>    
                        </div>
                    </div>
                    <div class="flex">
                        <span class="fill-remaining-space"></span>
                        <button mat-button class="mr-3" (click)="this.cancel()" type="reset">CANCELAR</button>
                        <button [disabled]="this.FunderFormGroup.pristine" type="submit" mat-raised-button color="primary">GUARDAR</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </ng-template>

    <div>
        <h2 class="mt-5 font-weight-lighter">Proyectos asociados:</h2>
        <div *ngIf="this.Funder.projects.length; else NoProjects" class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4" *ngFor="let project of this.Funder.projects">
                <app-project-card [project]="project"></app-project-card>
            </div>
        </div>
        <ng-template #NoProjects>
            <div class="font-weight-lighter text-center mt-5">
                Este Financiador no tiene ningún proyecto asociado
            </div>
        </ng-template>
    </div>

</div>

