<app-sub-toolbar
    title="Fichas">
</app-sub-toolbar>

<div class="page-content">
    <mat-card><!--Selector de Proyectos e Indicadores-->
        <mat-card-title class="font-weight-lighter">Generar Ficha:</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="row pt-3">
                <div class="col-sm-4">
                    <mat-form-field class="full-width">
                        <mat-label>Seleccione un proyecto</mat-label>
                        <mat-select (valueChange)="onProjectSelect($event)" [(ngModel)]="this.selectedProject">
                          <mat-option *ngFor="let project of this.Projects" [value]="project._id">
                            {{project.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4" *ngIf="this.selectedProject">
                    <mat-form-field class="full-width">
                        <mat-label>Seleccione un indicador</mat-label>
                        <mat-select (valueChange)="onIndicatorSelect($event)" [(ngModel)]="this.selectedIndicator"[disabled]="!this.Indicators" >
                          <mat-option *ngFor="let indicator of this.Project.indicators" [value]="indicator._id">
                            {{indicator.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4" *ngIf="this.selectedProject && this.selectedIndicator">
                    <button mat-raised-button color="primary" type="button" [disabled]="!this.selectedIndicator" (click)="generateSchema()">GENERAR</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="mt-4">
        <mat-card *ngIf="this.Status == 'loading'"><!--Tarjeta de Cargando-->
            <div class="loading-box">
                <div>
                    <img src="../../../../../assets/images/logo-sisi-only.svg" alt="">
                    <h4 class="font-weight-lighter text-center">Cargando...</h4>
                </div>
            </div>
        </mat-card>
        <mat-card *ngIf="this.Status == 'noPeriod'"><!--Tarjeta de Fuera de Tiempo-->
            <div>
                <div class="p-4">
                    <h3 class="text-center font-weight-lighter">Esta ficha se llena {{this.periodText}}</h3>
                    <p class="text-center font-weight-lighter">La ficha estará disponible cuando sea la fecha adecuada y se le notificará por e-mail.</p>
                </div>
            </div>
        </mat-card>
        <mat-card *ngIf="this.Status == 'ready'">
            <mat-card-title class="font-weight-lighter">Ficha</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div>
                    <div class="pt-3 mb-3">
                        <p>Proyecto: <span class="font-weight-lighter">{{this.Project.name}}</span></p>
                        <p>Indicador: <span class="font-weight-lighter">{{this.Indicator.name}}</span></p>
                        <p>Periodo: <span class="font-weight-lighter">{{this.Period.date.from | date : 'dd MMMM yyyy'}} - {{this.Period.date.to |date : 'dd MMMM yyyy'}} ({{this.Period.period}})</span></p>
                    </div>
                    <form [formGroup]="this.SchemaForm">
                        <div class="table-container full-width">
                            <table class="baseline-table full-width" formGroupName="records">
                                <tr>
                                    <th class="sticky main-row">ORGANIZACIÓN</th>
                                    <th class="main-row" *ngFor="let field of this.fieldsSchema">{{field.name}}</th>
                                </tr>
                                <tbody formArrayName="rows" *ngFor="let row of this.SchemaForm.get('records').get('rows').controls; let i = index">
                                    <tr [formGroupName]="i">
                                        <td class="sticky main-col font-weight-lighter">{{row.get('name').value}}</td>
                                        <td formArrayName="fields" class="main-col" *ngFor="let field of this.fieldsSchema; let j = index">
                                            <div [formGroupName]="j">
                                                <input type="number" formControlName="value" class="full-width font-weight-lighter" placeholder="Ingrese un valor">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <div class="flex">
                    <span class="fill-remaining-space"></span>
                    <button mat-button type="button" (click)="this.cancel()">CANCELAR</button>
                    <button mat-raised-button color="primary" type="button" [disabled]="this.SchemaForm.invalid" (click)="this.save()">GUARDAR</button>
                </div>
            </mat-card-actions>
        </mat-card>
        <mat-card *ngIf="this.Status == 'already-filled'"><!--Tarjeta Ficha Llena-->
            <mat-card-title class="font-weight-lighter">Esta Ficha ya ha sido llenada</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div>
                    <div class="pt-3 mb-3">
                        <p>Proyecto: <span class="font-weight-lighter">{{this.Project.name}}</span></p>
                        <p>Indicador: <span class="font-weight-lighter">{{this.Indicator.name}}</span></p>
                        <p>Periodo: <span class="font-weight-lighter">{{this.Period.date.from | date : 'dd MMMM yyyy'}} - {{this.Period.date.to |date : 'dd MMMM yyyy'}} ({{this.Period.period}})</span></p>
                        <p>Técnico Responsable: <span class="font-weight-lighter">{{this.UserResponsable}}</span></p>
                    </div>
                    <div class="table-container full-width">
                        <table class="baseline-table full-width">
                            <tr>
                                <th class="sticky main-row">ORGANIZACIÓN</th>
                                <th class="main-row" *ngFor="let field of this.SchemaForm.records.rows[0].fields">{{field.name}}</th>
                            </tr>
                            <tr *ngFor="let organization of this.Project.organizations; let i = index">
                                <td class="sticky main-col font-weight-lighter text-center">{{organization.name}}</td>
                                <td class="main-col" *ngFor="let field of this.SchemaForm.records.rows[i].fields; let j = index">
                                    <div class="full-width font-weight-lighter text-center">{{field.value}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="this.Status == 'outDateProject'"><!--Tarjeta Ficha Fuera de Periodo-->
            <div>
                <div class="p-4">
                    <h3 class="text-center font-weight-lighter">Este proyecto ya ha finalizado</h3>
                    <p class="text-center font-weight-lighter">El proyecto inició en {{this.Project.start_date | date : "MMMM, d \'del\' yyyy"}} con una duración de {{this.Project.duration}} meses.</p>
                </div>
            </div>
        </mat-card>
    </div>

</div>
