<app-sub-toolbar
    title="Indicadores"
    [backButton]="false"
    [addButton]="true">
</app-sub-toolbar>

<div class="page-content" *ngIf="this.Indicators.length; else NoIndicators">
    <div class="container full-height">
        <div class="row full-height">
            <div class="col-sm-6 flex">
                <mat-card class="align-self-center full-width">
                    <mat-card-title class="font-weight-lighter">Buscar:</mat-card-title>
                    <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Nombre">
                    </mat-form-field>
                    <mat-card-title class="font-weight-lighter">Filtrar:</mat-card-title>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-label>Clave de Búsqueda</mat-label>
                                <mat-select>
                                    <mat-option>Tipo</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-label>Término de Búsqueda</mat-label>
                                <mat-select>
                                    <mat-option>Tipo</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-6">
                <h2 class="list-title full-width">Indicadores Registrados</h2>
                <mat-list class="scroll-list-view bordered-list">
                    <a mat-button *ngFor="let indicator of this.Indicators" class="full-width text-left font-weight-lighter">{{indicator.name}}</a>
                </mat-list>
            </div>
        </div>
    </div>
</div>
<ng-template #NoIndicators>
    <div class="page-content flex justify-content-center align-items-center">
        <div>
            <h2 class="text-center font-weight-lighter">No hay Indicadores registrados</h2>
            <div class="font-weight-lighter">
                Para agregar indicadores dale click al boton "Agregar" de la esquina superior derecha.
            </div>
        </div>
    </div>
</ng-template>