<app-sub-toolbar
    title="Organizaciones"
    [addButton]="!(this.isFunder | async)"
    [backButton]="false">
</app-sub-toolbar>

<app-filter-box
    [list]="this.Organizations"
    type="Organizations"
    (changeList)="updateList($event)">
</app-filter-box>

<div class="page-content with-filter-box">

    <div class="full-height" *ngIf="this.Organizations.length; else NoOrganizations">
        <div class="row full-height" *ngIf="this.List.length; else NoList">
            <div class="mb-4 col-sm-4" *ngFor="let organization of this.List">
                <app-organization-card [organization]="organization"></app-organization-card>
            </div>
        </div>
        <ng-template #NoList>
            <div class="full-height full-width flex justify-content-center align-items-center">
                <div>
                    <h2 class="text-center font-weight-lighter">No se han encontrado coincidencias</h2>
                    <div class="font-weight-lighter text-center">
                        Intenta utilizando otro parámetro de búsqueda.
                    </div>
                </div>
            </div>
        </ng-template>
    </div>

    <ng-template #NoOrganizations>
        <div class="full-height full-width flex justify-content-center align-items-center">
            <div>
                <h2 class="text-center font-weight-lighter">No hay Organizaciones registradas</h2>
                <div class="font-weight-lighter text-center">
                    Para agregar organizaciones dale click al boton "Agregar" de la esquina superior derecha.
                </div>
            </div>
        </div>
    </ng-template>

</div>
