<app-sub-toolbar *ngIf="this.userRole == 'Administrador'"
    [title]="this.Project.name"
    [backButton]="true"
    [buttons]="[this.DeleteBtn]"
    [addButton]="false">
</app-sub-toolbar>

<app-sub-toolbar *ngIf="this.userRole != 'Administrador'"
    [title]="this.Project.name"
    [backButton]="true"
    [addButton]="false">
</app-sub-toolbar>

<div class="full-height">
    <mat-tab-group mat-stretch-tabs class="full-height"> 
        <mat-tab label="Infomación General">
            <div class="container pb-3 pt-3 border-box">
                <mat-card>
                    <mat-card-title class="font-weight-lighter">Generales</mat-card-title>
                    <mat-divider></mat-divider>
                    <div class="mt-3 mb-3 row">
                        <div class="col-sm-4">
                            <small class="d-block full-width">Nombre:</small>
                            <span class="font-weight-lighter">{{this.Project.name}}</span>
                        </div>
                        <div class="col-sm-4">
                            <small class="d-block full-width">Fecha de Inicio:</small>
                            <span class="font-weight-lighter">{{this.Project.start_date | date : 'd/M/yyyy'}}</span>
                        </div>
                        <div class="col-sm-4">
                            <small class="d-block full-width">Ubicación (cantón):</small>
                            <span class="font-weight-lighter">{{this.Project.ubication}}</span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-4">
                            <small class="d-block full-width">Duración del Proyecto:</small>
                            <span class="font-weight-lighter">{{this.Project.duration}} meses</span>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="pt-3">
                        <small class="d-block full-width">Objetivo General:</small>
                        <p class="font-weight-lighter">{{this.Project.gen_objective}}</p>
                    </div>
                    <div class="mt-3 mb-3" *ngFor="let objetive of this.Project.esp_objectives; let i = index">
                        <small class="d-block full-width">Objetivo Específico {{i+1}}:</small>
                        <span class="font-weight-lighter">{{objetive}}</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="pt-3">
                        <div class="mb-3" *ngFor="let result of this.Project.results; let i = index">
                            <small class="d-block full-width">Resultado {{i+1}}:</small>
                            <p class="font-weight-lighter">{{result}}</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row pt-3">
                        <div class="col-sm-6">
                            <small class="d-block full-width">Número de Beneficiarios:</small>
                            <span class="font-weight-lighter">{{this.Project.beneficiaries.number}}</span>
                        </div>
                        <div class="col-sm-6">
                            <small class="d-block full-width">Listado de Beneficiarios:</small>
                            <div *ngIf="this.File == undefined; else IfThereFile">
                                <img src="../../../../../assets/images/logo-sisi-only.svg" width="50px">
                                Cargando...
                            </div>
                            <ng-template #IfThereFile>
                                <a [href]="'http://64.227.8.162:3000/'+ this.File.file" target="blank" [download]="this.File.name+this.File.ext" mat-raised-button color="primary" class="font-weight-lighter">DESCARGAR</a>
                            </ng-template>
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-tab>
        <!--Pestaña Presupuesto-->
        <mat-tab label="Presupuesto">
            <div class="container pb-3 border-box pt-3 ">
                <mat-card>
                    <mat-card-title class="font-weight-lighter">Presupuesto</mat-card-title>
                    <mat-divider></mat-divider>
                    <div class="mt-3 mb-3 row">
                        <div class="col-sm-4">
                            <small class="d-block full-width">Presupuesto Total Inicial:</small>
                            <span class="font-weight-lighter">{{this.Project.budgets.total_inicial | currency}}</span>
                        </div>
                        <div class="col-sm-4">
                            <small class="d-block full-width">Presupuesto Total Final:</small>
                            <span class="font-weight-lighter">{{this.Project.budgets.total_final | currency}}</span>
                        </div>
                        <div class="col-sm-4">
                            <small class="d-block full-width">Presupuesto Ejecutado:</small>
                            <span class="font-weight-lighter">{{this.executed_budget.value | currency}}</span>
                        </div>
                    </div>
                    <div class="mt-3 flex" *ngIf="this.userRole == 'Administrador'">
                        <div class="fill-remaining-space"></div>
                        <button mat-raised-button color="primary" class="font-weight-lighter mr-2" (click)="this.updateBudget()">Registrar cambio en presupuesto</button>
                        <button mat-raised-button color="primary" class="font-weight-lighter" (click)="this.updateExecuted()">Actualizar presupuesto ejecutado</button>
                    </div>
                </mat-card>
                <mat-card class="mt-4">
                    <mat-card-title class="font-weight-lighter text-center">Progreso</mat-card-title>
                
                    <div id="graphic">
                        <div class="flex justify-content-center">
                            <ngx-charts-line-chart *ngIf="this.multi"
                                [view]="view"
                                [scheme]="colorScheme"
                                [legend]="legend"
                                [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel"
                                [xAxis]="xAxis"
                                [yAxis]="yAxis"
                                [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel"
                                [timeline]="timeline"
                                [results]="multi"
                                (select)="onSelect($event)"
                                (activate)="onActivate($event)"
                                (deactivate)="onDeactivate($event)">
                            </ngx-charts-line-chart>
                        </div>
                    </div>

                </mat-card>
            </div>
        </mat-tab>
        <!--Pestaña Organizaciones-->
        <mat-tab label="Organizaciones">
            <div class="container pb-3 pt-3 border-box">
                <div class="row" *ngIf="this.Project.organizations.length; else NoOrganizations">
                    <div class="mb-4 col-sm-4" *ngFor="let organization of this.Project.organizations">
                        <mat-card>
                            <mat-card-title class="font-weight-lighter">{{organization.name}}</mat-card-title>
                            <mat-card-subtitle>{{organization.type}}</mat-card-subtitle>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                                <mat-list>
                                    <li class="pt-2">
                                        <span>
                                            Sector: <span class="font-weight-lighter">{{organization.sector}}</span>
                                        </span>
                                    </li>
                                    <li class="mt-2">
                                        <span>
                                            Ubicación: <span class="font-weight-lighter">{{organization.ubication.parroquia}}, {{organization.ubication.canton}}</span>
                                        </span>
                                    </li>
                                    <li class="mt-2">
                                        <span>
                                            Fecha de constitución: <span class="font-weight-lighter">{{organization.foundation_date | date : 'd/M/yyyy'}}</span>
                                        </span>
                                    </li>
                                </mat-list>
                            </mat-card-content>
                            <div class="flex">
                                <span class="fill-remaining-space"></span>
                                <button mat-button [routerLink]="['/organizations',organization._id,'partners']">SOCIOS</button>
                                <button mat-button [routerLink]="['/organizations',organization._id]">DETALLES</button>
                            </div>
                        </mat-card>
                    </div>
                </div>

                <ng-template #NoOrganizations>
                    <div class="full-height full-width flex justify-content-center align-items-center">
                        <div>
                            <h2 class="text-center font-weight-lighter">No hay Organizaciones vinculadas con este proyecto.</h2>
                        </div>
                    </div>
                </ng-template>
            </div>
        </mat-tab>
        <!--Pestaña Financiadores-->
        <mat-tab label="Financiadores" id="financiadores-box" class="full-height">
            <div class="container pb-3 pt-3 border-box full-height">
                <div class="row full-height" *ngIf="this.Project.funders.length; else NoFunders">
                    <div class="col-sm-12 full-height">
                        <mat-card class="full-height">
                            <div class="flex flex-align-vertical">
                                <mat-card-title class="font-weight-lighter">Financiadores Vinculados</mat-card-title>
                                <span class="fill-remaining-space"></span>
                                <button *ngIf="this.userRole == 'Administrador'" mat-raised-button color="primary" type="button" (click)="this.linkFunders()">Vincular Financiador</button>
                            </div>
                            <mat-divider></mat-divider>
                            <mat-card-content class="full-height">
                                <div class="pt-3 full-height">
                                    <mat-list class="scroll-list-view full-height bordered-list">
                                        <a mat-button *ngFor="let funder of this.Project.funders" [routerLink]="['/funders',funder._id]" class="full-width text-left font-weight-lighter">{{funder.name}} - {{funder.place}}</a>
                                        <mat-divider></mat-divider>
                                    </mat-list>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <ng-template #NoFunders>
                    <div class="row full-height">
                        <div class="col-sm-12">
                            <h3 class="full-width font-weight-lighter mt-5 text-center">No hay Financiadores Vinculados con este proyecto.</h3>
                            <div class="flex flex-center">
                                <button *ngIf="this.userRole == 'Administrador'" mat-raised-button color="primary" type="button" (click)="this.linkFunders()">Vincular Financiador</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<app-loading-view *ngIf="this.isWorking" [message]="this.loadingMessage"></app-loading-view>