@import './custom-theme.scss'

*
    outline-color: none !important
    outline-style: none !important

html,
body,
app-root,
mat-drawer,
mat-drawer-content
    height: 100%

h6
    margin: 0px !important

mat-list
    padding-top: 0px !important

li
    list-style: none

mat-drawer
    background: #333333
    width: 200px

mat-drawer-container
    height: calc(100% - 64px)

mat-drawer-content
    background: #e5e5e5

mat-list,
mat-selection-list
    padding-top: 0px !important

ngx-charts-bar-vertical-2d,
ngx-charts-bar-vertical
    display: block !important
    position: relative !important
    width: 100% !important
    overflow-y: auto !important
    margin: auto !important

p
    margin-bottom: 0px !important
    padding-bottom: 0px !important
    padding-top: 0px !important

table
    tbody
        tr
            td
                text-align: center
    thead
        tr
            th
                text-align: center !important

#login-box
    width: 400px

    img
        margin: auto
        width: 200px

#loading-view
    background: rgba(0,0,0,.85)
    position: absolute
    top: 0px
    z-index: 100000

    div div img
        animation: rotar 1s infinite
        display: block
        margin: auto
        width: 250px

    h2
        color: #fff

//Main Toolbar
#main-toolbar
    background: #fff
    border-bottom: 1px solid #666
    box-shadow: 0px 0px 0px 10px #000
    z-index: 50

mat-drawer
    z-index: 20

//Caja de Subida de Documentos
#upload-box
    border: 1px solid #ccc
    border-radius: 0px 0px 5px 5px
    display: block
    height: 350px
    padding-bottom: 10px
    width: 100%

#upload-box-header
    label
        border: none !important
        cursor: pointer
        margin: 0px 10px

#upload-route-box
    background: #cccc
    height: 50px
    
    span, i
        color: #666

#file-grid
    display: grid
    gap: 10
    grid-template-columns: repeat(auto-fit,minmax(150px,150px))
    height: 300px
    overflow-y: scroll

    div
        text-align: center

    i
        display: block
        font-size: 75px

    .file-name
        font-size: 12px
        line-height: 15px
        text-overflow: ellipsis
        overflow-x: hidden
        width: 150px

    .close-btn
        display: block
        cursor: pointer
        font-size: 14px
        position: relative
        right: -100px
        top: 10px
        width: 14px
    
    .file-status
        color: #999
        font-size: 12px
        line-height: 15px
        text-overflow: ellipsis
        overflow-x: hidden
        width: 150px

/*#new-folder-modal
    background: white
    position: absolute
    top: calc((100% / 2) - (100px))
    width: 500px*/
    

//Project Baseline Table
.example-container
  height: 400px
  width: 550px
  overflow: auto

table
  width: 800px

td.mat-column-star
  width: 20px
  padding-right: 8px

th.mat-column-position, td.mat-column-position
  padding-left: 8px

.mat-table-sticky:first-child
  border-right: 1px solid #e0e0e0

.mat-table-sticky:last-child
  border-left: 1px solid #e0e0e0


//subToolbar
#sub-toolbar
    background: #f2f2f2f2


//Histórico de Socios
#partners-historic
    background: white
    height: calc(100% - 64px)
    overflow-y: scroll

    #partners-historic-filters
        background: #f2f2f2
        height: 60px

//Funders on Project View
#financiadores-box
    height: 500px

//Baseline Table
.table-container
    display: block
    max-width: 100%
    overflow-x: hidden

    .baseline-table
        display: block
        overflow-x: scroll

    tr td,
    tr th
        min-width: 200px

    tr th
        font-weight: normal
        text-align: center

    tr .sticky
        background: #ffffff
        left: 0
        position: sticky

//Fichas Loading
.loading-box
    align-items: center
    display: flex
    height: 300px
    justify-content: center

    div img
        animation: rotar .5s infinite
        height: 100px

//Definition box
.definition-box
    display: grid
    grid-template-columns: repeat(2,1fr)

    mat-list
        border: 1px solid #eee
        height: 200px
        overflow-y: scroll

        .definition-column-label
            background: #eee
            display: block
            padding: 5px 10px
            width: 100%

    mat-list:first-child
        border-radius: 5px 0px 0px 0px

        .definition-column-label
            border-radius: 5px 0px 0px 0px

    mat-list:last-child
        border-left: none
        border-radius: 0px 5px 0px 0px

        .definition-column-label
            border-radius: 0px 5px 0px 0px

.definition-column
    border: 1px solid #eee
    border-top: none
    height: 250px

    .definition-column-label
        background: #eee
        display: block
        padding: 5px 10px
        width: 100%
    
    .definition-space
        box-sizing: border-box
        height: calc(100% - 34px - 40px)
        overflow-y: scroll
        padding: 10px
    
    .botonera
        align-items: center
        background: rgba(0,0,0,.5)
        display: flex
        justify-content: center
        height: 40px

        .botonera-btn
            font-weight: lighter

.my-chip
    align-items: center
    background-color: #e0e0e0
    border-radius: 16px
    box-sizing: border-box
    color: rgba(0, 0, 0, 0.87)
    cursor: default
    display: inline-flex
    font-size: 14px
    font-weight: 500
    height: 1px
    min-height: 32px
    margin: 4px
    overflow: hidden
    padding: 7px 12px
    position: relative
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1)
    transform: translateZ(0)
    -webkit-tap-highlight-color: transparent

    input
        background: rgba(257,257,257,.5)
        border: none !important
        outline-color: none !important
        outline-style: none !important
        padding-left: 5px 
        padding-right: 5px
        width: 75px !important

    mat-icon 
        background-repeat: no-repeat
        color: rgba(0, 0, 0, 0.87)
        cursor: pointer
        display: inline-block
        fill: currentColor
        font-size: 18px
        height: 18px
        margin-left: 8px
        margin-right: 0
        opacity: 0.4
        width: 18px

//Report Box
.table-box
    background: #f2f2f2

.report-mat-card
    transition: none !important
    border-radius: 0px !important
    border: none !important
    box-shadow: none !important

//Calification Box
.columns-2
    display: grid
    gap: 20px
    grid-template-columns: repeat(2,1fr)

.calification-detail
    display: grid
    grid-template-columns: 4fr 8fr

.circulo
    border-radius: 50%
    height: 100px
    width: 100px

.calification-letter
    font-size: 25px
    font-weight: bold

.green
    background: green
    color: white

.yellow
    background: yellow
    color: white

.red
    background: red
    color: white

//Classes
.border-box
    box-sizing: border-box

.border-radius
    border-radius: 5px

.bordered-list
    border: 1px solid #ccc
    border-radius: 0px 0px 5px 5px

.color-cyan
    color: #28a4c4

.color-blue
    color: #054083

.color-green
    color: #0e741b

.color-orange
    color: #e74529

.color-red
    color: #940d0d

.delete-parameter-btn
    background: white
    height: 24px !important
    position: absolute !important
    right: -24px
    top: 3.5px
    width: 24px !important

    mat-icon
        font-size: 18px
        line-height: 6px !important
        text-align: center !important

.fadeIn
  -webkit-animation-name: fadeIn
  animation: fadeIn .25s

.fadeOut
  -webkit-animation-name: fadeOut
  animation: fadeOut .25s

.fill-remaining-space
    flex: 1 auto 

.flex
    display: flex
.flex-align-vertical
    align-items: center

.flex-center
    justify-content: center

.flex-right
    justify-content: end

.form-control-equis
    display: flex
    justify-content: flex-end
    
    mat-icon
        cursor: pointer

.full-height
    height: 100%

.full-width
    width: 100%

.hover-underline:hover
    text-decoration: underline

.label
    color: rgba(0,0,0,.60)

.linkActive
    background: rgb(55,138,0) !important
    color: #fff
    font-weight: normal !important

.linkActive:hover
    color: #fff !important

.link-side
    border-radius: 0px !important

.link-side:hover
    color: #000
    text-decoration: none 

.list-title
    background: #aaa
    border-radius: 5px 5px 0px 0px
    font-size: 18px
    font-weight: normal
    margin: 0 !important
    padding: 10px

.poject-list-title
    background: #ccc
    border-radius: 5px 5px 0px 0px
    font-size: 18px
    font-weight: normal
    margin: 0 !important
    padding: 10px

.page-content
    height: calc(100% - 64px)
    overflow-y: scroll
    padding: 40px

.projects-selection-list
    border: 1px solid #ccc
    height: 250px
    overflow-y: scroll

.schema-input
    background: #f2f2f2
    border: 1px solid #cccccc
    font-size: 13px
    outline-color: none !important
    outline-style: none !important
    padding: 5px

.selected-parameter
    background: rgba(0,0,0,.15)

.scroll-list-view
    background: #fff
    border: 1px solid #aaa
    height: calc(100% - 41px)
    overflow-y: scroll

.validate-msg
    color: red

.invalidate-input
    border: 1px solid red

.white-background
    background: white

/*Animations*/
@keyframes rotar
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
        
@-webkit-keyframes fadeIn 
  from 
    opacity: 0

  to 
    opacity: 1

@keyframes fadeIn
  from
    opacity: 0
  
  to
    opacity: 1
  
@-webkit-keyframes fadeOut
  from
    opacity: 1
  
  to
    opacity: 0
  
@keyframes fadeOut
  from
    opacity: 1
  
  to
    opacity: 0
